body{
    color: #191C0E;
    font-family: "Cinzel Decorative", serif;
    font-size: 16px;
    line-height: 1.5;
    background-color:  #dfbc94;
}

h1{
    font-size: 3em;
    text-align: center;
}

h2{
  text-align: center;
}
header{
    font-size: 2em;
    background-color: #BB6830;
    width: 100%
}

header img{
    width: 100%

}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

foooter{
    background-color: darkolivegreen;
}

div{
    padding: 10px 20px 20px 20px;
}

.nav{
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
  color: #191C0E;
}
