body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

img{
    width: 100%;
}

.nav-link {
  font-size: 1rem;
  margin-left: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

footer {
  font-size: 0.9rem;
}

a:hover{
    color:black
}


p{
    color:black
}

h1{
    color: black;
}
.bodoni-moda {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container{
    font-family: "Bodoni Moda";
}

